div {
    padding: 20px;
}
span {
    color: white;
    background-color: rgba(135, 206, 250, 0.691);
    
    /* margin: 30px; */
    /* border: 1px solid red; */
    /* padding: 10px; */
    /* font-size: 2em; */
    /* line-height: 2; */
}