* {
    box-sizing: border-box;
}
p {
    max-width: 800px;
    margin: 0 auto;
}
.box {
    height: 200px;
    padding: 30px;
    margin-bottom: 20px;
    position: relative;
    overflow: hidden;
}
.box1{
    min-width: 300px;
    width: 70%;
    background-color: lightseagreen;
}
.box2{
    max-width: 500px;
    width: 70%;
    background-color: lightblue;
}
.box3{
    min-width: 300px;
    max-width: 500px;
    width: 70%;
    background-color: lightslategray;
}
h2{
    margin-top: 0;
    width: max-content;
    font-family: 'Courier New', Courier, monospace;
}
.width {
    position: absolute;
    font-size: 1.1em;
    color: rgb(90, 90, 90);
    right: 20px;
    bottom: 0;
}