.show-size {
    position: relative;
}

.size {
    position: absolute;
    top: 0;
    left: 0;

    padding: 0.1em;
    background-color: rgba(171, 136, 173, 0.4);

    font-family: monospace;
    font-size: 1.4em;
    font-weight: bold;
    color: #000;
}

.size.top-right {
    left: unset;
    right: 0;
}

.size.bottom-left {
    top: unset;
    bottom: 0;
}

.size.bottom-right {
    top: unset;
    left: unset;
    bottom: 0;
    right: 0;
}