* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
}

header, footer {
    height: 5vh;

    background-color: rgba(176, 196, 222, 0.467);
    
    font-size: 2rem;
    text-align: center;
    line-height: 5vh;
}

.wrapper {
    /* min-height: calc(100vh - 10vh - 60px); */
    background-color: whitesmoke;
    margin: 30px auto;
}

.main-content {
    width: 70vw;
    /* max-width: 75ch; */
    /* width: min(70vw, 75ch); */

    border: 1px solid lightgray;
    padding: 10px;
    margin: auto;
}

p {
    width: 90%;

    padding: 1em;
    background-color: rgb(208, 208, 208);
    margin-inline: auto;
    
    color: white;
}